/*
 * Copyright (c) 2026 Converted from swept
 * SPDX-License-Identifier: MIT
 */

#include "corne2_1.dtsi"
#include "corne2_1_common.dtsi"

/* Ajusta o deslocamento das colunas da matriz para a metade direita */
&default_transform {
    col-offset = <6>;
};

/* Configuração da matriz de teclas da direita */
&kscan0 {
    col-gpios
        = <&pro_micro 14 GPIO_ACTIVE_HIGH>
        , <&pro_micro 15 GPIO_ACTIVE_HIGH>
        , <&pro_micro 18 GPIO_ACTIVE_HIGH>
        , <&pro_micro 19 GPIO_ACTIVE_HIGH>
        , <&pro_micro 20 GPIO_ACTIVE_HIGH>
        , <&pro_micro 21 GPIO_ACTIVE_HIGH>
        ;
};

/* Redireciona o I2C para os pinos D0/D1 (GPIO 2 e 3 da RP2040) */
&pinctrl {
    i2c0_default: i2c0_default {
        group1 {
            pinmux = <RP2040_PINMUX(2, REACH_PERIPH_I2C)>,
                     <RP2040_PINMUX(3, REACH_PERIPH_I2C)>;
        };
    };
};

/* Ativa o I2C do Pro Micro */
&pro_micro_i2c {
    status = "okay";
    pinctrl-0 = <&i2c0_default>;
    pinctrl-names = "default";
};

/* Ativa o Trackpad Azoteq */
&tps43_split {
    status = "okay";
};
